<div class="animated fadeIn">
  <div class="row">
      <div class="card">
        <div class="card-header">
          <strong>Specimen Rejection Details</strong>
           <button type="button" class="btn btn-primary" data-toggle="modal" (click)="addRejectionReasonModal.show()">New Rejection Reason</button>
        </div>
        <div class="card-block">
        <table class="table">
          <thead>
          <tr>
            <th>Reason</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>Broken Sample Container</td>
              <td>
                <button type="button" class="btn btn-danger" data-toggle="modal" (click)="editRejectionReasonModal.show()">View</button>                
                <button type="button" class="btn btn-success" data-toggle="modal" (click)="editRejectionReasonModal.show()">Edit</button>    
              </td>
            </tr>
          </tbody>
        </table>          
        </div>
      </div>  
  </div>
  <!--/.row-->
</div>
<!--Add new patient-->
<div bsModal #addRejectionReasonModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Rejection Reason</h4>
        <button type="button" class="close" (click)="addRejectionReasonModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
        <div class="card-block">          
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="rejectionreason">Reason:</label>
                <input type="text" class="form-control" id="rejectionreason" placeholder="e.g.Plasma">
              </div>
            </div>
          </div><!--/.row-->    
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="addRejectionReasonModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--Edit new patient-->

<div bsModal #editRejectionReasonModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Rejection Reason</h4>
        <button type="button" class="close" (click)="editRejectionReasonModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="specimenname">Name:</label>
                <input type="text" class="form-control" id="specimenname" placeholder="e.g. Lance Opiyo">
              </div>
            </div>
          </div><!--/.row-->            
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description">
              </div>
            </div>
          </div><!--/.row-->
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="editRejectionReasonModal.hide()">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->